:host ::ng-deep .sidebar .p-menu {
  background: #043dae;
  border-color: #043dae;
  .p-focus {
    .p-menuitem-icon,
    .p-menuitem-text {
      color: #000;
    }
  }

  .p-menuitem-link-active {
    background: #ffff;
    border-radius: 10px;

    .p-menuitem-icon {
      margin-left: 18px;
    }
    .p-menuitem-icon,
    .p-menuitem-text {
      color: #000;
    }
  }
}

:host ::ng-deep .sidebar .p-menuitem {
  .p-menuitem-icon,
  .p-menuitem-text {
    color: #ffff;
  }
  .p-menuitem-content {
    border-radius: 10px;
  }
  .p-menuitem-link {
    text-decoration: none;
    margin-top: 5px;
  }

  width: 190px;
}

:host ::ng-deep .sidebar .p-menuitem:hover {
  .p-menuitem-icon,
  .p-menuitem-text {
    color: #000;
  }
}

:host ::ng-deep .sidebar .p-card {
  .p-card-body,
  .p-card-content {
    height: 100%;
  }
}

:host ::ng-deep .sidebar .p-dropdown {
  background: #043dae;
  border: none;
  height: 30px;
  margin-top: -20px;

  .p-dropdown-label,
  .p-dropdown-trigger {
    color: white;
  }

  .p-dropdown-label {
    margin-top: -10px;
    margin-left: 25px;
  }

  .p-dropdown-items {
    padding-left: 0;
  }
}

.sidebar .indicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.red {
  background-color: red;
}

.green {
  background-color: #76c97e;
}

.sidebar-toggle {
  visibility: hidden;
}

.sidebar {
  transition: transform 0.5s ease-in-out;
  overflow-y: auto;
}

.sidebar .collapsed {
  transform: translateX(-280px);
}

@media (max-width: 4120px) {
  .sidebar {
    position: fixed;
    background: #043dae;
    z-index: 1000;
  }
  .collapsed {
    transform: translateX(-100%);
  }
  .sidebar-toggle {
    visibility: visible;
    border-radius: 8px;
  }

  :host ::ng-deep .p-card {
    box-shadow: none;
  }
}
