<div class="container">
  <div class="card">
    <form [formGroup]="form" (ngSubmit)="login()">
      <div class="text-center">
        <p-image src="../../../assets/icons/icon-192x192.png" alt="Image"> </p-image>
      </div>
      <div class="text-center">
        <h4 style="color: whitesmoke">Login to Web</h4>
        <div style="margin-bottom: 10px"></div>
        <div class="field col">
          <div class="p-float-label">
            <input formControlName="email" id="email" pInputText required />
            <label class="custom-text" for="email">Email</label>
            <!-- <small id="email" class="p-error">Need Email.</small> -->
          </div>
        </div>
        <div class="field col">
          <div class="p-float-label">
            <input type="password" formControlName="password" id="password" pInputText required />
            <label class="custom-text" for="password">Password</label>
            <!-- <small id="password" class="p-error">Need Password.</small> -->
          </div>
        </div>
        <div class="field col">
          <button type="submit" pButton>Login</button>
        </div>
        <div style="margin-bottom: 1rem">
          <a style="color: whitesmoke" routerLink="/signup">New User? Click to Sign Up</a>
        </div>
      </div>
    </form>
  </div>
</div>
